<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.MenuMapper">
	<select id="getAllMenu" resultType="com.example.demo.bean.Menu">
		select 
			m.*, mr.id, mr.mid, mr.rid, r.id, r.name, r.nameZh 
		from menu m 
		left join menu_role mr on m.id = mr.mid
		left join role r on mr.rid = r.id
		where m.enabled = true order by m.id desc
	</select>
</mapper>